/* CUSTON FONT ADDED */
@font-face {
    font-family: 'Acme-Regular';
    src: url('Acme-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kalam-Regular';
    src: url('Kalam-Regular.ttf') format('truetype');
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: "Acme-Regular", sans-serif;
}
.mimg{
    width: 12rem;
}
.container {
    margin-left: 1cm;
    margin-top: 1cm;
    padding: 30px;
    width: calc(100% - 1cm);
    box-sizing: border-box;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    opacity: .8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    color: var(--link-color);
    font-size: 13px;
    margin-bottom: 8px;
    transition: .3s;
    line-height: 1rem;
}
li:hover{
    -webkit-transform: translateX(3px);
  transform: translateX(3px);
    color: blueviolet;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
    .container {
        margin-left: 10px;
        padding: 10px;
        width: calc(100% - 10px);
    }
}

@media only screen and (max-width: 480px) {
    .container {
        margin-left: 5px;
        padding: 30px;
        width: calc(100% - 5px);
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}

